<div class="col-12 col-sm-12 col-md-12 col-xl-12 col-lg-12" role="main" >
    <footer>
        <div class="row">
            <div id="footer-wrapper">
                <div class="col-1 col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
                <div class="col-11 col-xs-11 col-sm-11 col-md-11 col-lg-5 col-xl-5">2021 - Instituto Nacional de Psiquiatría Ramón de la Fuente Muñiz</div>
                <div class="col-11 col-xs-11 col-sm-11 col-md-11 col-lg-5 col-xl-5"><a href="{% url 'admin_sistema:aviso_privacidad' %}">Aviso de privacidad</a></div>
                <div class="col-1 col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
            </div>
        </div>
    </footer>
</div>