<div class="row" id="menuContainer">
    <div class="col-12 col-sm-12 col-md-2 col-xl-2 col-lg-2">
        <div class="navbar nav_title bk_logo" id="logo1" style="border: 0;">
            <a href="{% url 'index' %}" class="logolink">
            </a>
        </div>
        <div class="nav_toggle" id="myToggle">
            <a id="menuToggle"><i class="fa fa-bars"></i></a>
        </div>
        <div class="bk_logo" id="logo2" style="border: 0;">
            <a href="{% url 'index' %}" class="logolink">
            </a>
        </div>
        <div class="" id="verticalmenu">
            <div id="menuviewport">
                <div><a class="loadinglink" href="{% url 'index' %}">Inicio</a></div>
                <hr/>
                <div><a class="loadinglink" href="{% url 'admin_sistema:form_registro' %}">Registro</a></div>
                <hr/>
                <div class="sublink">Consultar
                    <div class="minisubmenu">
                        <div class="minisubmenuitem">
                            <div class="sublink2">Mortalidad
                                <div class="minisubmenu2">
                                    <div class="minisubmenuitem">
                                        <a href="{% url 'explotacion_datos:mortalidad' indicador='trastornos' %}">Trastornos mentales y uso de sustancias</a>
                                    </div>
                                    <div class="minisubmenuitem">
                                        <a href="{% url 'explotacion_datos:mortalidad' indicador='homicidios' %}">Homicidio</a>
                                    </div>
                                    <div class="minisubmenuitem">
                                        <a href="{% url 'explotacion_datos:mortalidad' indicador='accidentes' %}">Accidentes de tránsito</a>
                                    </div>
                                    <div class="minisubmenuitem">
                                        <a href="{% url 'explotacion_datos:mortalidad' indicador='suicidios' %}">Suicidios</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="minisubmenuitem">
                            <div class="sublink2">Recursos
                                <div class="minisubmenu2">
                                    <div class="minisubmenuitem">
                                        <a class="loadinglink" href="{% url 'explotacion_datos:tr_psiquiatras' %}">Psiquiátras</a>
                                    </div>
                                    <div class="minisubmenuitem">
                                        <a class="loadinglink" href="{% url 'explotacion_datos:tr_psicologos' %}">Psicólogos</a>
                                    </div>
                                    <div class="minisubmenuitem">
                                        <a class="loadinglink" href="{% url 'explotacion_datos:tr_equipos' %}">Equipos de salud mental</a>
                                    </div>
                                    <div class="minisubmenuitem">
                                        <a class="loadinglink" href="{% url 'explotacion_datos:tr_unidades' %}">Unidades de salud mental y adicciones</a>
                                    </div>
                                    <div class="minisubmenuitem">
                                        <a class="loadinglink" href="{% url 'explotacion_datos:tr_camas' %}">Camas psiquiátricas</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="minisubmenuitem">
                            <div class="sublink2">Egresos
                                <div class="minisubmenu2">
                                    <div class="minisubmenuitem">
                                        <a class="loadinglink" href="{% url 'explotacion_datos:te_trastornos' %}">Trastornos por uso de substancias</a>
                                    </div>
                                    <div class="minisubmenuitem">
                                        <a class="loadinglink" href="{% url 'explotacion_datos:te_alcohol' %}">Alcohol</a>
                                    </div>
                                    <div class="minisubmenuitem">
                                        <a class="loadinglink" href="{% url 'explotacion_datos:te_drogas' %}">Drogas</a>
                                    </div>
                                    <div class="minisubmenuitem">
                                        <a class="loadinglink" href="{% url 'explotacion_datos:te_homicidios' %}">Homicidio</a>
                                    </div>
                                    <div class="minisubmenuitem">
                                        <a class="loadinglink" href="{% url 'explotacion_datos:te_lesiones' %}">Lesiones autoinfligidas</a>
                                    </div>
                                    <div class="minisubmenuitem">
                                        <a class="loadinglink" href="{% url 'explotacion_datos:te_accidentes' %}">Accidentes de tránsito</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="sublink">Esquemas
                    <div class="minisubmenu">
                        <div class="minisubmenuitem"><a class="loadinglink" href="{% url 'admin_sistema:servicios' %}">Esquema de clasificación de servicios de Salud Mental</a></div>
                        <div class="minisubmenuitem"><a class="loadinglink" href="{% url 'admin_sistema:salud_mental' %}">Fuentes de Información en Salud Mental y Adicciones</a></div>
                        <div class="minisubmenuitem"><a class="loadinglink" href="{% url 'admin_sistema:organizacion_servicios' %}">Organización de los Servicios de Salud en México</a></div>
                        <div class="minisubmenuitem"><a class="loadinglink" href="{% url 'admin_sistema:indicadores' %}">Indicadores de Salud Mental</a></div>
                    </div>
                </div>
                <hr/>
                <div class="sublink">¿Quiénes somos?
                    <div class="minisubmenu">
                        <div class="minisubmenuitem"><a class="loadinglink" href="{% url 'admin_sistema:equipo' %}">Equipo</a></div>
                        <div class="minisubmenuitem"><a class="loadinglink" href="{% url 'admin_sistema:instituciones_participantes' %}">Instituciones participantes</a></div>
                        <div class="minisubmenuitem"><a class="loadinglink" href="{% url 'admin_sistema:antecedentes' %}">Antecedentes</a></div>
                        <div class="minisubmenuitem"><a class="loadinglink" href="{% url 'admin_sistema:ubicacion' %}">Ubicación</a></div>
                    </div>
                </div>
                <hr/>
                <div class="sublink">Acerca de ...
                    <div class="minisubmenu">
                        <div class="minisubmenuitem"><a class="loadinglink" href="{% url 'admin_sistema:informacion_sistema' %}">Información del sistema</a></div>
                        <div class="minisubmenuitem"><a class="loadinglink" href="{% url 'admin_sistema:agradecimientos_especiales' %}">Agradecimientos especiales</a></div>
                        <div class="minisubmenuitem"><a class="loadinglink" href="{% url 'admin_sistema:aviso_privacidad' %}">Aviso de privacidad</a></div>
                    </div>
                </div>
                <hr/>
                <div><a class="loadinglink" href="{% url 'admin_sistema:login' %}">Ingresar</a></div>
            </div>
        </div>
    </div>
    <div class="col-md-10 col-xl-10 col-lg-10">
        <div class="topnav" id="myTopnav">
            <ul>
                <li class="menulist"><a class="loadinglink" href="{% url 'index' %}">Inicio</a></li>
                <li class="menulist"><a class="loadinglink" href="{% url 'admin_sistema:form_registro' %}">Registro</a></li>
                <li class="menulist submenuItems">
                    <a href="#">Consultar</a>
                    <ul class="submenucontainer">
                        <li class="submenulist">
                            <a href="#">Mortalidad</a>
                            <ul class="submenulist2">
                                <li class="submenulist3"><a href="{% url 'explotacion_datos:mortalidad' indicador='trastornos' %}">Trastornos mentales y uso de sustancias</a></li>
                                <li class="submenulist3"><a href="{% url 'explotacion_datos:mortalidad' indicador='homicidios' %}">Homicidio</a></li>
                                <li class="submenulist3"><a href="{% url 'explotacion_datos:mortalidad' indicador='accidentes' %}">Accidentes de tránsito</a></li>
                                <li class="submenulist3"><a href="{% url 'explotacion_datos:mortalidad' indicador='suicidios' %}">Suicidios</a></li>
                            </ul>
                        </li>
                        <li class="submenulist">
                            <a href="#">Recursos</a>
                            <ul class="submenulist2">
                                <li class="submenulist3"><a class="loadinglink" href="{% url 'explotacion_datos:tr_psiquiatras' %}">Psiquiatras</a></li>
                                <li class="submenulist3"><a class="loadinglink" href="{% url 'explotacion_datos:tr_psicologos' %}">Psicólogos</a></li>
                                <li class="submenulist3"><a class="loadinglink" href="{% url 'explotacion_datos:tr_equipos' %}">Equipos de salud mental</a></li>
                                <li class="submenulist3"><a class="loadinglink" href="{% url 'explotacion_datos:tr_unidades' %}">Unidades de salud mental y adicciones</a></li>
                                <li class="submenulist3"><a class="loadinglink" href="{% url 'explotacion_datos:tr_camas' %}">Camas psiquiátricas</a></li>
                            </ul>
                        </li>
                        <li class="submenulist">
                            <a href="index_mapa_filtros.html">Egresos</a>
                            <ul class="submenulist2">
                                <li class="submenulist3"><a class="loadinglink" href="{% url 'explotacion_datos:te_trastornos' %}">Trastornos mentales y uso de sustancias</a></li>
                                <li class="submenulist3"><a class="loadinglink" href="{% url 'explotacion_datos:te_alcohol' %}">Alcohol</a></li>
                                <li class="submenulist3"><a class="loadinglink" href="{% url 'explotacion_datos:te_drogas' %}">Drogas</a></li>
                                <li class="submenulist3"><a class="loadinglink" href="{% url 'explotacion_datos:te_homicidios' %}">Homicidio</a></li>
                                <li class="submenulist3"><a class="loadinglink" href="{% url 'explotacion_datos:te_lesiones' %}">Lesiones autoinfligidas</a></li>
                                <li class="submenulist3"><a class="loadinglink" href="{% url 'explotacion_datos:te_accidentes' %}">Accidente de tránsito</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="menulist submenuItems">
                    <a href="#">Esquemas</a>
                    <ul class="submenucontainer">
                        <li class="submenulist"><a class="loadinglink" href="{% url 'admin_sistema:servicios' %}">Esquema de clasificación de servicios de Salud Mental</a></li>
                        <li class="submenulist"><a class="loadinglink" href="{% url 'admin_sistema:salud_mental' %}">Fuentes de Información en Salud Mental y Adicciones</a></li>
                        <li class="submenulist"><a class="loadinglink" href="{% url 'admin_sistema:organizacion_servicios' %}">Organización de los Servicios de Salud en México</a></li>
                        <li class="submenulist"><a class="loadinglink" href="{% url 'admin_sistema:indicadores' %}">Indicadores de Salud Mental</a></li>
                    </ul>
                </li>
                <li class="menulist submenuItems">
                    <!-- <a href="#" class="active">¿Quiénes somos?</a> -->
                    <a href="#">¿Quiénes somos?</a>
                    <ul class="submenucontainer">
                        <li class="submenulist"><a class="loadinglink" href="{% url 'admin_sistema:equipo' %}">Equipo</a></li>
                        <li class="submenulist"><a class="loadinglink" href="{% url 'admin_sistema:instituciones_participantes' %}">Instituciones participantes</a></li>
                        <li class="submenulist"><a class="loadinglink" href="{% url 'admin_sistema:antecedentes' %}">Antecedentes</a></li>
                        <li class="submenulist"><a class="loadinglink" href="{% url 'admin_sistema:ubicacion' %}">Ubicación</a></li>
                    </ul>
                </li>
                <li class="menulist submenuItems">
                  <a href="#">Acerca de ...</a>
                    <ul class="submenucontainer">
                        <li class="submenulist"><a class="loadinglink" href="{% url 'admin_sistema:informacion_sistema' %}">Información del sistema</a></li>
                        <li class="submenulist"><a class="loadinglink" href="{% url 'admin_sistema:agradecimientos_especiales' %}">Agradecimientos especiales</a></li>
                        <li class="submenulist"><a class="loadinglink" href="{% url 'admin_sistema:aviso_privacidad' %}">Aviso de privacidad</a></li>
                    </ul>
                </li>
            </ul>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
            {% if user.is_authenticated %}
                <span class="lnk-ingresar"><a class="loadinglink" id="a_salir" href="{% url 'admin_sistema:logout' %}">Salir</a></span>
                <div class="user-login">                
                    <span><i class="fa fa-user"></i> &nbsp; <span id="span_name"> {{ name }} </span></span>
                </div>
            {% else %}
                <span class="lnk-ingresar"><a class="loadinglink" href="{% url 'admin_sistema:login' %}">Ingresar</a></span>
            {% endif %}
        </div>
    </div>
</div>
<div class="titulosistema">
    <!-- <h3>Plataforma de Análisis Geoestadístico en Salud Mental - <strong>PANGEOS-MX</strong></h3> -->
</div>