{% extends 'admin_sistema/base.html' %}

{% load static %}

{% block head %}

{% endblock %}



{% block content %}
        <div class="col-12 col-sm-12 col-md-12 col-xl-12 col-lg-12" role="main" >
          <section class="seccion_odd section-first" id="quienes_somos">
              <div class="row">
                  <div class="wrapper_text">
                    <div><h3>INSTITUCIONES PARTICIPANTES</h3></div>
                    <div class="col-1 colxm-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
                    <div class="col-10- col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-12">
                        <P>PANGEOS-MX es el resultado del esfuerzo conjunto del Instituto Nacional de Psiquiatría Ramón de la Fuente, Consejo Nacional de Ciencia y Tecnología, Facultad de Psicología y Medicina de la UNAM.</P>
                        <P>El desarrollo de la plataforma contó con financiamiento del Programa Nacional Estratégico de Salud (PRONACES-Salud) del CONACyT a través de la convocatoria Proyectos Nacionales de Investigación e Incidencia (Pronaii) de Salud-Ciencia de Datos y Salud, 2019.</P>

                    </div>
                    <div class="col-1 colxm-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
                  </div>
              </div>
              <div class="row">
                  <div class="seccion_wrapper hoverlogo">
                      <div class="col-sm-12 col-md-12 col-xl-3 col-lg-3">
                          <div id="logo-facultadpsicologia-img">
                            
                          </div>
                      </div>
                      <div class="col-sm-12 col-md-12 col-xl-3 col-lg-3">
                          <div id="logo-conacyt-img">
                            
                          </div>
                      </div>
                      <div class="col-sm-12 col-md-12 col-xl-3 col-lg-3">
                          <div id="logo-cinvestav-img">
                            
                          </div>
                      </div>
                      <div class="col-sm-12 col-md-12 col-xl-3 col-lg-3">
                          <div id="logo-inp-img">
                            
                          </div>
                      </div>
                  </div>
              </div>
          </section>
        </div>


       <!-- /page content -->
      </div>
    </div>
{% endblock %}



{% block script %}


    <!-- jQuery -->
    <script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'vendors/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <!-- FastClick -->
    <script src="{% static 'vendors/fastclick/lib/fastclick.js' %}"></script>
    <!-- NProgress -->
    <script src="{% static 'vendors/nprogress/nprogress.js' %}"></script>
    <!-- Chart.js -->
    <script src="{% static 'vendors/Chart.js/dist/Chart.min.js' %}"></script>
    <!-- gauge.js -->
    <script src="{% static 'vendors/gauge.js/dist/gauge.min.js' %}"></script>
    <!-- bootstrap-progressbar -->
    <script src="{% static 'vendors/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
    <!-- iCheck -->
    <script src="{% static 'vendors/iCheck/icheck.min.js' %}"></script>
    <!-- Skycons -->
    <script src="{% static 'vendors/skycons/skycons.js' %}"></script>
    <!-- Flot -->
    <script src="{% static 'vendors/Flot/jquery.flot.js' %}"></script>
    <script src="{% static 'vendors/Flot/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'vendors/Flot/jquery.flot.time.js' %}"></script>
    <script src="{% static 'vendors/Flot/jquery.flot.stack.js' %}"></script>
    <script src="{% static 'vendors/Flot/jquery.flot.resize.js' %}"></script>
    <!-- Flot plugins -->
    <script src="{% static 'vendors/flot.orderbars/js/jquery.flot.orderBars.js' %}"></script>
    <script src="{% static 'vendors/flot-spline/js/jquery.flot.spline.min.js' %}"></script>
    <script src="{% static 'vendors/flot.curvedlines/curvedLines.js' %}"></script>
    <!-- DateJS -->
    <script src="{% static 'vendors/DateJS/build/date.js' %}"></script>
    <!-- JQVMap -->
    <script src="{% static 'vendors/jqvmap/dist/jquery.vmap.js' %}"></script>
    <script src="{% static 'vendors/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>
    <script src="{% static 'vendors/jqvmap/examples/js/jquery.vmap.sampledata.js' %}"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="{% static 'vendors/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
  <!-- jQuery autocomplete -->
  <script src="{% static 'vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js' %}"></script>

  <!-- jQuery multiselect -->
  <script type="text/javascript" src="{% static 'vendors/pangeos/build/js/jquery-multiple-select/bootstrap-multiselect.js' %}"></script>
    <!-- Custom Theme Scripts -->
    <script src="{% static 'vendors/pangeos/build/js/custom.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'vendors/pangeos/pangeos.js' %}"></script>

{% endblock %}

